.container {
    display: flex;
  }
  
  img {
    margin: 6px;
    margin-top: 16%;
  }
  .ABC{
    margin-top: 20%;
  }
  p{
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    color: rgb(249, 249, 249);
  }
  body{
  background: url("Images/background.png");
  }
